body {
    background-image: url(image/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    
}

header {
    text-align: center;
    color: white;
}

article {
    background-color: #ffffff;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 5px double forestgreen;

}

article> ol {
    text-align: left;
}

.Education>ul {
    text-align: left;
}

.work_experience>ul {
    text-align: left;
}

.food {
    display: inline-block;
}

h1 {
    font-size: 40px;
}

